@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
.App {
  text-align: center;
}


.sample-images {
  display: flex;
  justify-content: center;
  gap: 8px; /* Adjust the gap between images */
}

.sample-images img {
  width: auto;
  height: 80px; /* Adjust height as needed */
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.sample-images img:hover {
  opacity: 0.8; /* Adjust opacity as desired */
}

@media (max-width: 768px) {
  .sample-images {
    flex-wrap: wrap;
  }

  .sample-images img {
    width: calc(30% ); /* Adjust width for 4 images per row */
    height: auto;
    margin: 8px; /* Adjust margin for spacing */
  }
}



/* Styles for Fetch Image button */
.fetch-button {
  padding: 8px 16px;
  background-color: #2791f4; /* Blue background color */
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fetch-button:hover {
  background-color: #0278d7; /* Darker shade of blue on hover */
}

/* Styles for Predict button */
.predict-button {
  padding: 8px 16px;
  background-color: #2791f4; /* Green background color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.predict-button:hover {
  background-color: #0278d7; /* Darker shade of green on hover */
}